:root {
  --main-accent-color: rgb(119, 0, 255);


  --main-background: rgb(48, 55, 80);
  --accent-background: rgba(76, 92, 126, 0.75);
  

  --allways-white-text: rgb(255, 255, 255);

  --main-text: rgb(255, 255, 255);
  --main-grey-text: rgb(160, 160, 160);
  --secondary-grey-text: rgb(79, 79, 79);

}


body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--main-background);
}


button {
  background: var(--main-accent-color);
  color: var(--allways-white-text);
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  padding: 1rem 1.5rem;


}

button:focus {
  outline: none;
}

button:hover {
  transform: scale(0.98);
}

.graph {
  background: var(--accent-background);
  border-radius: 1rem;
  padding: 1rem;

  justify-content: space-between;

  display: flex;
  flex-direction: row; 
}

.graph-column {
  display: flex;
  flex-direction: column;
  
  justify-content: flex-end;
  padding: .5rem;

  height: 200px;
}


.graph-item {
  background-color: blueviolet;
  border: none;
  border-radius: 1rem;
  width: 100%;
}

